################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore .txt
*.vsidx
/.vs/Firetec/FileContentIndex/write.lock
/.vs/slnx.sqlite
