<configuration>
  <appSettings>
    <add key="databaseName" value=""/>
    <add key="tableBoots" value="tbBoots"/>
    <add key="tableClients" value="tbClients"/>
    <add key="tableDepartment" value="tbDepartment"/>
    <add key="tableHelmets" value="tbHelmets"/>
    <add key="tableJackets" value="tbJackets"/>
    <add key="tablePants" value="tbPants"/>
    <add key="tablePrices" value="tbPrices"/>
    <add key="tableUsers" value="tbUsers"/>
  </appSettings>
  <connectionStrings>
      <add name="MyConnectionString" connectionString= "" />
  </connectionStrings>
</configuration>